<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.diagnostics>
    <switches>
      <add name="ServiceTraceSwitch" value="3" />
    </switches>
  </system.diagnostics>
  <appSettings>
    <add key="Path" value=""/>
    <add key="Schedule" value="0"/>
    <add key="MainSettings" value="0"/>
    <add key="MainSettingsArg" value="0"/>
    <add key="Settings" value="0"/>
    <add key="SettingsArg" value="0"/>
  </appSettings>
</configuration>